html
  head
    include header.pug
    title SLZ Klausurplaner
  body
      div(class="topnav")
        form(action = "/addpage/"+id, method = "GET")
            button(type='submit') Hinzufügen
        a(href='/') Logout
        a(href='../overview/'+id) Übersicht
      h1 SLZ Klausurvorbereitung
      p Archivierte Klausuren
      p(class='center')="Tipp des Tages: "+tip
      -var today = new Date();
      -today = today.getTime();
          for object in exams
            -var objectdate = new Date(object.date).getTime();
            if(today > objectdate)
              -console.log(today);
              -console.log(objectdate);
              -var x = Math.floor((today - objectdate)/86400000);
              div(class="card" style="width:18rem; margin:15px;")
                div(id="grabber")=object.id
                h5(class="card-header")=object.name
                  -var date = JSON.stringify(object.date).substring(1,11);
                  -var list = date.split("-");
                  -var newdate = list[2]+"-"+list[1]+"-"+list[0];
                ul(class="list-group list-group-flush")
                  li(class="list-group-item")=newdate
                  li(class="list-group-item" id="hours1")=object.total_hours
                  li(class="list-group-item" id="hours2")=object.spent_hours
                  li(class="list-group-item")
                    br
                    a(class="clicked" href="/deletepage/"+object.id) Löschen
                    br
                    p(id='remaining')="Der Termin war vor "+x+" Tagen"
                    br
                    canvas(id=""+object.id width="100" height="100")
                    div(class="donut-inner")
                      h5=object.spent_hours + "h"
                      h4="von "+object.total_hours+"h"
                    script.
                      var id = document.getElementById("grabber").innerHTML;
                      var remove = document.getElementById("grabber");
                      remove.parentNode.removeChild(remove);
                      var hours1 = document.getElementById("hours1").innerHTML;
                      var removehours1 = document.getElementById("hours1");
                      removehours1.parentNode.removeChild(removehours1);
                      var hours2 = document.getElementById("hours2").innerHTML;
                      var removehours2 = document.getElementById("hours2");
                      removehours2.parentNode.removeChild(removehours2);
                      var ctx = document.getElementById(id);
                      var myChar = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                          labels: ['gearbeitet', 'verbleibend'],
                          datasets: [{
                            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                            data: [hours2,hours1-hours2],
                          }],

                      }});
                    li(class="list-group-item")="Ergebnis : "+object.status                        
          script.
            $(".clicked").click(function(){
              return confirm(" Wirklich löschen? ");
            })
