html
  head
    include header.pug
  body
    form(action = "/examedited/"+origin, method = "POST")
        -console.log(origin);
        .form-group.row
        label.col-sm-2.col-form-label(for='name') Name
        .col-sm-10
            input#inputEmail3.form-control(name='name', value=object.name)
        .form-group.row
        label.col-sm-2.col-form-label(for='name') Datum
        .col-sm-10
            input#inputEmail3.form-control(name='date',type="date", value=JSON.stringify(object.date).substring(1,11))
        .form-group.row
        label.col-sm-2.col-form-label(for='date') Gesamtzahl Stunden
        .col-sm-10
            input#inputEmail3.form-control(name='total_hours',type="number", min="0", max="999", value=object.total_hours)
        .form-group.row
        label.col-sm-2.col-form-label(for='total_hours') gearbeitete Stunden
        .col-sm-10
            input#inputEmail3.form-control(name='spent_hours', type="number", min="0", max="999", value=object.spent_hours)
        .form-group.row
        label.col-sm-2.col-form-label(for='status') Ergebnis
        .col-sm-10
            input#inputEmail3.form-control(name='status', value=object.status)
            fieldset.form-group
        .row
        button.btn.btn-primary(type='submit') Klausur editieren
        a.btn.btn-primary(href="/overview/"+id2) Zurück

