html
   head
    include header.pug
      title Form Tester
      style
        include style.css
   body
      p Übersicht ihrer Klausuren:
      p(class='center')="Tipp des Tages: "+tip
          for object in exams
            div(class="card" style="width:18rem; margin:15px;")
              h5(class="card-header")="Prüfungsname : "+object.name
              div(class="card-body")
                h5(class="card-title")="Datum der Prüfung : "+object.date
              ul(class="list-group list-group-flush")
                li(class="list-group-item")="Insgesamt zu leistende Stunden : "+object.total_hours
                li(class="list-group-item")="Bereits geleistete Stunden : "+object.spent_hours
                li(class="list-group-item")="Status : "+object.status
              a.btn.btn-primary(href='/editpage/'+object.id) Editieren
              a.btn.btn-primary(href='/deletepage/'+object.id) Löschen
      p
        form(action = "/addpage/"+id, method = "GET")
          button.btn.btn-primary(type='submit') Weitere hinzufügen
        a.btn.btn-primary(href='/') Logout
        
