html
   head
      title Form Tester
      style
        include style.css
   body
      p Übersicht ihrer Klausuren:
      p(class='center')="Tipp des Tages: "+tip
      table    
        th Id
        th Name
        th Datum
        th Zeitaufwand gesamt
        th erbrachter Zeitaufwand
        th Erinnerungsstatus
          for object in exams
              tr
                td(class=data ? 'data' : 'data')= object.id
                td(class=data ? 'data' : 'data')= object.name
                td(class=data ? 'data' : 'data')= object.date
                td(class=data ? 'data' : 'data')= object.total_hours                  
                td(class=data ? 'data' : 'data')= object.spent_hours
                td(class=data ? 'data' : 'data')= object.status
                td
                  a(class='edit' href='/editpage/'+object.id) Editieren
                  a(class='edit' href='/deletepage/'+object.id) Löschen
        p
          form(action = "/addpage/"+id, method = "GET")
            button(class='styled' type = "submit") Weitere hinzufügen
          a(class='logout' href='/') Logout
        
