html
   head
      title Form Tester
      style
        include style.css
   body
      p Übersicht ihrer Klausuren:
      table    
        th Id
        th Name
        th Datum
        th Zeitaufwand gesamt
        th erbrachter Zeitaufwand
        th Erinnerungsstatus
          for object in exams
              tr
                td(class=data ? 'data' : 'data')= object.id
                td(class=data ? 'data' : 'data')= object.name
                td(class=data ? 'data' : 'data')= object.date
                td(class=data ? 'data' : 'data')= object.total_hours                  
                td(class=data ? 'data' : 'data')= object.spent_hours
                td(class=data ? 'data' : 'data')= object.reminder_status
                td
                  a(class='edit' href='/exam/'+object.id) Editieren
        p
          a(class='edit' href='/addpage') Weitere hinzufügen
          a(class='logout' href='/') Logout
        
